* {

    text-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.input {
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
}