* {
    /* background-color: lightgray; */
    text-align: center;
    align-content: center;
    align-items: center;
    text-align: center;

}



p {
    font-weight: 600;
}

#addForm input{
max-width: 38%;
}
